body{
    margin:0px;
    padding:0px;
    text-align: center;    
    line-height: 24px;
}
/**-------------------------------------------------------------**/
#promo{
    background-image: url(assets/PROMO_BG.png);
    background-position: center;
    background-size: cover;
    height: 758px;
    max-height:758px;     
}
#about{
    background-image: url(assets/ABOUT_patternBG.png);
    background-position: center;
    background-size: cover;
    height: 758px; 
    max-height:758px; 
}
#ingredients{
    background-image: url(assets/INGREDIENTS_BG.png);
    background-position: center;
    background-size: cover;
    height: 758px; 
    max-height:758px;  
}
#menu{
    background-image: url(assets/MENU_patternBG.png);
    background-position: center;
    background-size: cover;
    height: 758px; 
    max-height:851px;margin-bottom: 200px;  
}
#Reservations{
    background-image: url(assets/RESERVATIONS_patternBG.png);
    background-position: center;
    background-size: cover;
    height: 758px; 
    max-height:851px;
}
/**-------------------------------------------------------------**/
nav img{
    margin-left:1.875em;
    margin-right:2em;      
}
.nav{
    background-color: rgba(0, 0, 0, 0);
}
.navbar a{
    margin-left: 50px;
    font-size: 20px;
    color:white;
    font-family: 'Yeseva One', cursive;
}
span{
    color:white;
}
.mes-liens{
    padding-right:50px;
    padding-left:50px;
}
/**-------------------------------------------------------------**/
.maBox{
    background-color: rgba(0, 0, 0, 0);
    margin-top: 10%;
}
.maBox2{
    background-color: rgba(165, 34, 126, 0.438);
    display: flex;
    align-items: center;
}
.box-about{
    margin-top:20px;
}
.box-ingredient{
    margin-top:100px;
    background-color: rgba(0, 0, 0, 0.418);
    padding-bottom:2em;
    max-width: 20em;
    max-height: 20em;
    min-width: 20em;
    min-height: 20em;    
}
/**-------------------------------------------------------------**/
h1{
    font-family: 'Yeseva One', cursive;
    color: aliceblue;
    font-size: 3em;
}
h2{
    font-family: 'Yeseva One', cursive;
    color: rgb(255, 196, 0);
    font-size: 200%;
}
/**-------------------------------------------------------------**/
#ingredients h2{
color:white;
font-size: 2em; 
}
#ingredients p{
    color:white;
}
#ingredients img{
    margin: 15px; 
}
/**-------------------------------------------------------------**/
.boutons{
    margin:30px;
}
.mes-bouttons{
    margin:15px 60px;
}
.bouton-menu{
    padding-left: 45px;
    padding-right: 45px;
}
.liste-gauche{
    background-color: rgba(0, 0, 0, 0);
}
.liste{
    border-bottom:0.5px solid rgb(255, 196, 0);
}
#menu .col-auto{
    font-family: 'Yeseva One', cursive;
    color: rgb(255, 196, 0);
    font-size:1.2em;
}
.txt{
    color: black;
}
.block-menu{
    margin-bottom: 5em;
}
.epices{
    display: flex;

}
.marge{
    margin-top:100px;
}

.box-reservation{
    margin-top: 8em;
}
form{
    margin:15px;
}
#Reservations img{
margin-top:6em;
}
label{
    color:rgb(255, 196, 0);
    font-weight: bolder;
}

.icons{
    text-align: start;
}

.icon{
    margin-left:-50px;
    margin-right:-50px;
}
/**-------------------------------------------------------------**/
@media (min-width: 600px) {
    h1{
    font-size: 5em;
    }
    .box-ingredient{
        max-width: 35em;
        max-height: 35em;

        min-width: 35em;
        min-height: 35em;
    }
}
@media (max-width: 600px){
    .epices{
        display: flex;
        flex-direction: column;
        align-items: center;    
    }
    #menu{
        margin-top:200px;
    }
}





